.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
    border-style: solid;
    position: relative;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate( 0%, -50%);
}


.locations{
    height: 100%;
    width: 25%;
    border-right: #DDDDDD solid 1px;
    float: left;
}

.amenities{
    height: 100%;
    width: 25%;
    float: left;
}

.filters h3{
    font-weight: 600;
    margin-left: 15%;
    margin-bottom: 2%;
}

.filters h4{
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    margin-left: 15%;
}