.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
    border-style: solid;
    position: relative;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate( 0%, -50%);
}

.locations{
    height: 100%;
    width: 25%;
    border-right: #DDDDDD solid 1px;
    float: left;
}

.popover{
  background-color: #FAFAFA;
  max-width: 100%;
  position: relative;
  display: none;
  border: #DDDDDD 1px;
  border-style: solid;
  border-radius: 4px;
  list-style-type:none;
  margin: auto;
  padding-bottom: 10%;  
  padding-left: 10%;
}

.popover a{
    width: 100%;
    display: block;
  }

.locations:hover .popover {display: block;}

.filters .amenities:hover .popover {display: block;}

.popover h2{
    font-size: 16px;
    margin-top: 10%;
    margin-block-end: 0px;
}

.popover ul li{
    margin-left: 5%;
}

.filters .amenities{
    height: 100%;
    width: 25%;
    float: left;
}

.filters .amenities ul{
    padding-top: 10%;
}

.filters h3{
    font-weight: 600;
    margin-left: 15%;
    margin-bottom: 2%;
}

.filters h4{
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    margin-left: 15%;
    margin-bottom: 6%;
}